# R specific
.Rhistory
.RData
.Rproj.user
.Rproj
.Ruserdata

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
data/*.csv
data/*.json

# Output files
presentation_plots/
*.png

# System files
.DS_Store
Thumbs.db